.background {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D95E;
    width: auto;
    padding: 50px;
}

.class {
    margin-bottom: 50px;
}

.add-button {
    align-self: flex-end;
}
.sub-text {
    display: flex;
    flex-direction: row;
}