body {
    margin: 0px;
}

.labelName label{
    top: px;
}

.title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00543c;
    width: 100%;
}

.label {
    position: absolute;
    left: 20px;
    top: 200px;
    font-family: inter;
    
}

.logo {
    width: 7%;
}

.USFtitle {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    margin-left: 50px;
}

.lookupclass h3{
    position: absolute;
    width: 428px;
    height: 82px;
    left: -110px;
    top: 120px;
    font-family: inter;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;

    color: #000000;

    mix-blend-mode: normal;

}

.dropdownSubject{
    position: absolute;
    width: 428px;
    height: 82px;
    left: 15px;
    top: 220px;
}

.dropdownSubject h4{
    top:300px;
    bottom:1000px;
    position:relative;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #570861;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

.advanced p {
    position: absolute;
    width: 428px;
    height: 2px;
    top:270px;
    left:15px
  }

  select {
    font-size: 15px;
    width: 30%;
    padding: .2em 1em;
    background-color: #D9D9D9;
    border-radius: .2em;
    cursor: pointer;
}