.banner img{
    width: 400px;
    height:400px;
   
}

.lookupclass h3{
    position: absolute;
    width: 428px;
    height: 82px;
    left: -110px;
    top: 90px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 61px;
    text-align: center;

    color: #000000;

    mix-blend-mode: normal;

}

.dropdownSubject{
    position: absolute;
    width: 428px;
    height: 82px;
    left: 15px;
    top: 200px;
}

.dropdownSubject h4{
    top:300px;
    bottom:1000px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #570861;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .advanced p{
    position: absolute;
    width: 428px;
    height: 2px;
    top:270px;
  }

